.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 4vmin;
  width: 4vmin;
}

.cardContainer {
  display: inline-block;
  height: auto;
  position: relative;
}

.courseCard {
  width: 600px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 16px 0 rgba(28, 53, 197, 0.5);
  margin-bottom: 1vmin;
  cursor: pointer;
}

.dropDown {
  color: white;
  align-items: center;
  position: inherit;
  top: 100%;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  font-family: inherit;
}

.contactCard {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: paleturquoise;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 16px 0 rgba(28, 53, 197, 0.5);
}

.aboutCard {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: paleturquoise;
  border-radius: 25px;
  box-shadow: 0 4px 16px 0 rgba(28, 53, 197, 0.5);
  width: 600px;
}

.cardHover:hover {
  box-shadow: 0 8px 24px 0 rgba(28, 53, 197, 0.7);
  transition: 0.3s;
}

.contactBtn {
  background-color: #008b8b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
